<!DOCTYPE html>
<html>
  <head>
    <title>Miniapp4</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  </head>

  <body>
    <nav class="blog_header">
      <div class="nav-wrapper teal lighten-2">
        <%= link_to 'Blog list', '/', class: 'brand-logo', id: nil %>
        <!-- <a href="/" class="brand-logo">Blog list</a> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to "ログアウト", destroy_user_session_path, class: 'delete' %></li>
              <li><%= link_to "投稿する", new_blog_path, class: 'get' %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
            <% end %>
            </ul>

      </div>
    </nav>
    <div class="index_position" >
    </div>

    <%= yield %>

        <footer class="page-footer teal">
          <div class="footer-copyright teal container_position">
<!--             <div class="container container_position">
 -->            © 2018 Copyright Hiro Hirano
<!--             </div>
 -->          </div>
        </footer>

  </body>
</html>
